/**Universal styles**/
html {
  font-size: 16px;
  font-family: Helvetica;
}

header {
  background-color: white;
  height: 4rem;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}


header .mobile {
  display: none;
}

.mainpage {
  position: relative;
  top: 4rem;
}
/**Navigation Styles**/
header .desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .desktop ul {
  display: flex;
}
.desktop li {
  list-style: none;
}


/**Main styles**/
.start  {
  background-color: gray;
  display: flex;
  justify-content: center;
  height: 20rem;
  width: 100%;
}
.first {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16rem;
  width: 1280px;
}

.startimage {
  height: 16rem;
  width: 60rem;
}

.startimage img {
  height: auto;
  width: 60%;
}
