/**Universal styles**/
html {
  font-size: 16px;
  font-family: Lato, sans-serif;
  color: #35393a;
  font-weight: 300;
}

h2 {
  font-size: 2rem;
  text-decoration: none;
}

html a {
  color: darkgray;
}

header {
  background-color: white;
  height: 4rem;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}

header .mobile {
  display: none;
}

.mainpage {
  position: relative;
  top: 4rem;
}

.container {
  width: 100%;
  margin: 0 auto;
}
/**Navigation Styles**/

header .desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1.5rem;
}

.desktop img {
  float: left;
}

.logo p {
  display: inline-block;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

header .desktop ul {
  display: flex;
}

.desktop li {
  list-style: none;
  padding-right: 1rem;
}

.desktop li a {
  text-decoration: none;
}

#logo-text-black {
  color: black;
  font-weight: bold;
}

@media only screen and (max-width: 560px)  {
  header .desktop {
    display: none;
   }
  header .mobile {
    display: block;
    width: 100%;
  }
  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
  }
  .start {
    width: 100%;
    margin: 0;
  }
  .first {
    width: 100%;
    flex-direction: column;
  }
}

/**Main styles**/
.start  {
  background-color: #d3e9ed;
}

.first {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first img {
  height: auto;
  width: 60%;
  padding: 2rem;
}

#starttext {
  margin: 0;
  width: 40%;
  margin-left: 2rem;
}

#starttext h2 {
  font-weight: 900;
  font-size: 3rem;
}

#starttext p {
  font-weight: bold;
  font-size: 1.5rem;
}


button {
  background-color: #596D70;
  color: #d3e9ed;
  font-size: 0.9rem;
  border-radius: 1px;
  height: 3rem;
  width: 17rem;
  padding: .5rem;
}

@media only screen and (max-width: 560px) {
  .first img {
    width: 100%;
    padding: 0;
  }
  #starttext {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-bottom: 2rem;
  }
  #starttext p {
    padding: 0rem 1rem 1.5rem 1rem;
  }
  #starttext h2 {
    padding: 2rem 1rem;
  }
  button {
    width: 80%;
    margin: 0;
    padding: 0;
  }
}
/**Practice section**/

.practice-container {
  display: flex;
}

.practice-banner {
  width: 60%;
  padding: 2rem 1.5rem;
}

.practice-banner img {
  width: 100%;
}

.practice-side {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 1.5rem;
}

.practice-sidebox {
  display: flex;
  align-items: center;
  border: lightgray .09rem solid;
}

.practice-sidebox img {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.practice-text a {
  color: #B4D6D2;
}

.practice-banner h2 {
  font-size: 2rem;
  font-weight: 900;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.practice-sidebox h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

.practice-sidebox:hover {
  background-color: #d3e9ed;
  color: #596D70;
}



/**Learn Section**/

.learn {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background-color:  #d3e9ed;
  padding-bottom: 2rem;
}

.section-title {
  width: 100%;
  padding: 3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}

.course {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: white;
  margin: 1rem;
}

.course-image img {
  width: 100%;
}

.course-description h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.course-description {
  margin-left: 1rem;
}

.course-description p {
  padding-bottom: 1rem;
}

/**Video Thesis Section**/
.thesis {
  display: flex;
  margin-bottom: 4rem;
  margin-left: 1.5rem;
}

.video-side {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.vid-banner {
  padding: 2rem 1.5rem;
  padding-bottom: 0;
}

.vid-banner video {
  width: 100%;
}

.vid-description {
  padding-bottom: 2rem;
  margin-left: 2rem;
}

.thesis-side {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 1.5rem;
}

.thesis-sidebox {
  display: flex;
  align-items: center;
}

.thesis-sidebox img {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.thesis-text h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.vid-description h2 {
  font-size: 1.5rem;
  font-weight: 900;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.thesis-sidebox:hover {
  background-color: #d3e9ed;
  color: #596D70;
  }


/**footer section**/

footer ul {
  float: right;
  display: flex;
}

footer li {
  padding-right: 1rem;
}

footer {
  padding-top: 1rem;
  padding-left: 1.5rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: .8rem;
  border-top: lightgray 0.09rem solid;
}
